<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sri.mappers.EmployeeMapper">

<resultMap type="Employee" id="EmployeeResult">
<id property="id" column="id"/>
<result property="name" column="name"/>
<result property="age" column="age"/>
<result property="city" column="city"/>
</resultMap>

<select id="findAllEmployees" resultMap="EmployeeResult">
SELECT * FROM Employee
</select>

<select id="findEmployeeById" parameterType="int"
resultType="Employee">
SELECT *
FROM employee WHERE id=#{Id}
</select>

<select id="findByNameOrAll" parameterType="String"
     resultMap="EmployeeResult">
     
  SELECT * FROM Employee WHERE city='Chennai'
  
    <if test="id != null">
    AND id=#{id}
  	</if>
  

</select>
